<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Skynet Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
    <div id="app">
        <skynet-chat v-model="messages"></skynet-chat>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        Vue.component('skynet-chat', {
            props: {
                value: {
                    type: Array,
                    required: true
                }
            },
            data() {
                return {
                    messages: [],
                    id: 0
                }
            },
            mounted: function() {
                this.message = [...this.value];
            },
            methods: {
                sendMessage: function(message) {
                    const date = new Date;
                    const h = date.getHours();
                    const m = date.getMinutes()

                    this.messages.push({
                        text: message,
                        received: false,
                        time: (h < 10 ? '0' + h : h)  + ':' +  (m < 10 ? '0' + m : m),
                    });

                    fetch('/api/get-answer', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
                        },
                        body: 'q='+encodeURIComponent(message)
                    }).then(resp => {
                        return resp.json();
                    })
                    .then(json => {
                        if (json.ok) {
                            const date = new Date;
                            const h = date.getHours();
                            const m = date.getMinutes()

                            this.messages.push({
                                text: json.a,
                                received: true,
                                time: (h < 10 ? '0' + h : h)  + ':' +  (m < 10 ? '0' + m : m),
                            });
                        }
                        else {
                            throw new Error('Request is not ok');
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    });
                },
                scrollToEnd: function() {
                    this.$nextTick().then(() => {
                        this.$refs.chatWindow.$el.scrollTo(0, this.$refs.chatWindow.$el.scrollHeight);
                    });
                }
            },
            template: `
                <div class="skynet-wrapper">
                    <h1 class="skynet-h1">Skynet Console</h1>
                    <h2 class="skynet-h2"><a href="https://github.com/Alorian42/youarewelcome" target="_blank">git</a></h2>
                    <div class="skynet-content">
                        <skynet-chat-history :history="messages" ref="chatWindow"></skynet-chat-history>
                        <skynet-chat-input @send="sendMessage"></skynet-chat-input>
                    </div>
                </div>
            `,
            watch: {
                messages() {
                    this.$emit('input', this.messages);
                },
                value() {
                    this.messages = this.value;
                    this.scrollToEnd();
                }
            }
        });
        Vue.component('skynet-chat-history', {
            props: {
                history: {
                    type: Array,
                    default: []
                }
            },
            template: `
                <div class="skynet-chat-history">
                    <div 
                        v-for="(message, index) in history"
                        v-bind:key="index"
                        class="skynet-chat-history-item"
                        v-bind:class="{ 'skynet-chat-history-item-received': message.received, 'skynet-chat-history-item-sent': !message.received }">
                        <div class="skynet-chat-history-item-top">
                            <b>{{ message.received ? 'Skynet' : 'You' }}</b>
                            <div class="skynet-chat-history-item-date"><u>{{ message.time }}<u></div>
                        </div>
                        <div class="skynet-chat-history-item-text">{{ message.text }}</div>
                    </div>
                </div>
            `
        });
        Vue.component('skynet-chat-input', {
            data() {
                return {
                    text: ''
                }
           },
           methods: {
                send: function() {
                    this.$emit('send', this.text);
                    this.text = '';
                }
           },
           template: `
                <div class="skynet-chat-input">
                    <textarea class="skynet-chat-input-item" v-model="text" @keyup.enter="send"></textarea>
                    <button class="skynet-chat-input-button" @click="send">Send</button>
                </div>
            `
        });
        const vm = new Vue({
            el: '#app',
            data: {
                messages: []
            },
            mounted: function() {
                const messages = window.localStorage.getItem('messages');
                if (messages !== null) {
                    const arrayMessages = JSON.parse(messages);
                    if (Array.isArray(arrayMessages)) {
                        this.messages = arrayMessages;
                    }
                }
            },
            watch: {
                messages() {
                    window.localStorage.setItem('messages', JSON.stringify(this.messages));
                }
            }
        });
    </script>
</body>
</html>